openapi: 3.0.3

info:
  title: PlayGo Management API
  description: REST API for PlayGo with chi framework
  version: 1.0.0

servers:
  - url: http://localhost:8080/v1
    description: Development server

paths:
  /info:
    get:
      operationId: getInfo
      summary: Getting app info
      tags:
        - Info
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoResponse"

components:
  schemas:
    InfoResponse:
      type: object
      properties:
        name:
          type: string
        version:
          type: string